body{
	font-family: 'Special Elite', cursive;
	/*font-family: 'Chelsea Market', cursive;*/
	background-color: #506D84;
	color: #edeae5;
	letter-spacing: 1px;
}

h1{
	color: #edeae5;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 400%;
	margin-top: 30px;
	margin-bottom: 10px;
}

hr{
	color: #DFD3C3;
	background-color:#DFD3C3;;
	height: 1px;
	border-width: 0;
	width: 100%;
	margin: 0;
}

.dropdown-menu{
	min-width: 40px;
}
.lang .dropdown-menu{
	background-color: #edeae5;
}
.dropdown-menu li:hover .sub-menu{
	visibility: visible;
}
.dropdown:hover .dropdown-menu {display: block;}

.dropdown-toggle::after{
	content: none;
}
.nav-link{
	padding: 10px 25px 10px 25px;
}

a:hover{
	text-decoration-color: none;
	color: inherit;
	background-color: #DFD3C3;
	color: #506D84;
}

a{
	color: #edeae5;
	font-size: 120%;
}

.lang{
	position: absolute;
	right: 0%;
}


.bkg_right{
  
  border-left-color: #DFD3C3;
  background: url('bkg.PNG');
	background-repeat: repeat;
	background-size: 100%;
	left: 80%;
  border-left: 1px solid;
	width: 20%;
  height: 100%;
  position:  absolute;
}
.bkg_left{
	background: url('bkg.PNG');
	background-repeat: repeat;
	background-size: 100%;
	width: 20%;
	border-right: 1px solid;
	border-right-color: #DFD3C3;
  height: 100%;
  position:  absolute;
  left: 0;
}


